.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.field-without-gap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 13px;
    font-weight: 500;
    color: #374151;
}